{% extends 'base.html' %}
{% block content %}
{% include 'header.html' %}

<main>
    {% include 'alert.html' %}
    <div class="container">
      <!-- Title and Top Buttons Start -->
      <div class="page-title-container">
        <div class="row g-0">
          <!-- Title Start -->
          <div class="col-auto mb-3 mb-md-0 me-auto">
            <div class="w-auto sw-md-30">
              <a href="#" class="muted-link pb-1 d-inline-block breadcrumb-back">
                <!-- <i data-acorn-icon="chevron-left" data-acorn-size="13"></i>
                <span class="text-small align-middle">Home</span> -->
              </a>
              <h1 class="mb-0 pb-0 display-4" id="title">Attendance List</h1>
            </div>
          </div>
          <!-- Title End -->

          <!-- Top Buttons Start -->
          <div class="w-100 d-md-none"></div>
          <div class="col-12 col-sm-6 col-md-auto d-flex align-items-end justify-content-end mb-2 mb-sm-0 order-sm-3">
            <a href="{% url 'attendance-add' timesession_id=timesession.id %}">
                <button type="button" class="btn btn-outline-primary btn-icon btn-icon-start ms-0 ms-sm-1 w-100 w-md-auto">
                <i data-acorn-icon="plus"></i>
                <span>Add Attendance</span>
                </button>
            </a>
            
            
             
          </div>
          <!-- Top Buttons End -->
        </div>
      </div>
      <!-- Title and Top Buttons End -->

      <!-- Controls Start -->
      <div class="row mb-2">
        <!-- Search Start -->
        <div class="col-sm-12 col-md-5 col-lg-3 col-xxl-2 mb-1">
          <div class="d-inline-block float-md-start me-1 mb-1 search-input-container w-100 shadow bg-foreground">

            <form method="get">
                <input type="text" name="q" placeholder="Search timesessions" class="form-control" value="{{ search_query|default_if_none:'' }}">
                
                <span class="search-magnifier-icon" style="cursor: pointer;" onclick="submitForm()">
                    <i data-acorn-icon="search"></i>
                </span>
            </form>
          </div>
        </div>
        <script>
          function submitForm() {
              document.querySelector('form').submit();
          }
        </script>
        <!-- Search End -->




        <!-- Breakpoint Specific Responsive Start -->
    <section class="scroll-section" id="breakpointSpecificResponsive">
        
        <div class="card">
        <div class="card-body">
            <div class="table-responsive-sm mb-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                      
                        <th scope="col">Date</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for attendance in attendances %}
                            <tr>
                                <th scope="row">1</th>
                                <td>{{ attendance.date }} </td>
                               
                                <td>
                                    <a href="{% url 'attendance-view' timesession.id attendance.date %}">
                                        <i data-acorn-icon="eye" data-acorn-size="15"></i>
                                    </a>
                                      <a href="{% url 'attendance-edit' timesession.id attendance.date %}">
                                        <i data-acorn-icon="edit-square" data-acorn-size="15"></i>
                                      </a>
                                      <a href="{% url 'attendance-delete' timesession.id attendance.date %}" onclick="return confirm('Do you want to delete this?')">
                                        <i data-acorn-icon="bin" data-acorn-size="15"></i>
                                      </a>
                                </td>
                               
                            </tr>
                        {% endfor %}
                    
                    </tbody>
                </table>
            </div>
     
        </div>
        </div>
    </section>
        
      

      
           
          
           

    </div>
  </main>

{% endblock content %}