{% extends 'base.html' %}
{% block content %}
{% include 'header.html' %}



    <main>

        {% include 'alert.html' %}

        <div class="container">
          <div class="row">
            <div class="col-auto d-none d-lg-flex">
              <div class="nav " id="settingsColumn">
                <!-- Content of this will be moved from #settingsMoveContent div based on the responsive breakpoint.  -->
              </div>
            </div>

            <div class="col">
              <!-- Title and Top Buttons Start -->
                <div class="page-title-container">
                    <div class="row">
                    <!-- Title Start -->
                    <div class="col">
                        <h1 class="mb-0 pb-0 display-4" id="title">Add Notification</h1>
                        <nav class="breadcrumb-container d-inline-block" aria-label="breadcrumb">
                        <ul class="breadcrumb pt-0">
                          
                        </ul>
                        </nav>
                    </div>
                    <!-- Title End -->
                    </div>
                </div>

                  
                <form action="{% url 'notification-add' %}" method="post">
                    {% csrf_token %}

                    <h2 class="small-title"></h2>
                    <div class="card mb-5">
                        <div class="card-body">
                        
                            
                            <div class="mb-3 row">
                                <label class="col-lg-2 col-md-3 col-sm-4 col-form-label">Addrees</label>
                                <div class="col-sm-8 col-md-9 col-lg-10">
                                    <textarea class="form-control" required name="text" rows="3"></textarea>
                                </div>
                            </div>
                            
                            <div class="mb-3 row mt-5">
                                <div class="col-sm-8 col-md-9 col-lg-10 ms-auto">
                                    <button type="submit" class="btn btn-primary">Add Notifiacation</button>
                                </div>
                            </div>

                        
                        </div>
                    </div>


                </form>
             
            </div>
          </div>
        </div>
    </main>
      



{% endblock content %}